/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html { -ms-text-size-adjust: 100%;
 /* 1 */ -webkit-text-size-adjust: 100%;
 /* 1 */ -webkit-tap-highlight-color: transparent;
 /* 2 */ height: 100%; }
/**
 * Remove the margin in all browsers (opinionated).
 */
body { margin: 0;
 /* 1 */ font-size: 14px; font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif; }
/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary { display: block; }
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) { display: none; height: 0; }
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress { vertical-align: baseline; }
/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template, /* 1 */
[hidden] { display: none; }
/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a { background-color: transparent;
 /* 1 */ -webkit-text-decoration-skip: objects;
 /* 2 */ text-decoration: none; }
/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover { outline-width: 0; }
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] { text-decoration: underline;
 /* 1 */ text-decoration: underline dotted;
 /* 1 */ }
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong { font-weight: bolder; }
/**
 * Add the correct font style in Android 4.3-.
 */
dfn { font-style: italic; }
/**
 * Add the correct font size in all browsers.
 */
small { font-size: 80%; }
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img { border-style: none; }
/**
 * Hide the overflow in IE.
 */
svg:not(:root) { overflow: hidden; }
/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp { font-family: monospace, monospace;
 /* 1 */ font-size: 1em;
 /* 2 */ }
/**
 * 1. Contain overflow in all browsers.
 * 2. Improve readability of pre-formatted text in all browsers.
 */
pre { overflow: auto;
 /* 1 */ white-space: pre;
 /* 2 */ white-space: pre-wrap;
 /* 2 */ word-wrap: break-word;
 /* 2 */ }
/* Forms
   ========================================================================== */
/**
 * 1. Correct color not being inherited.
      Known issue: affects color of disabled elements.
 * 2. Change font properties to `inherit` in all browsers (opinionated).
 * 3. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea { color: inherit;
 /* 1 */ font: inherit;
 /* 2 */ margin: 0;
 /* 3 */ vertical-align: middle; }
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 * 2. Show the overflow in Edge, Firefox, and IE.
 */
button,
input,  /* 1 */
input {
 /* 2 */ overflow: visible; }
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
 /* 1 */ text-transform: none; }
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] { -webkit-appearance: button;
 /* 2 */ }
/* Re-set default cursor for disabled elements. */
[disabled] { cursor: default; }
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] { box-sizing: border-box;
 /* 1 */ padding: 0;
 /* 2 */ }
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button { height: auto; }
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] { -webkit-appearance: textfield;
 /* 1 */ outline-offset: -2px;
 /* 2 */ }
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button { -webkit-appearance: button;
 /* 1 */ font: inherit;
 /* 2 */ }
/* 1. Remove default vertical scrollbar in IE 8/9/10/11. */
textarea { overflow: auto;
 /* 1 */ resize: none; vertical-align: top; }
/* Don't inherit the `font-weight` (applied by a rule above).
NOTE: the default cannot safely be changed in Chrome and Safari on OS X. */
optgroup { font-weight: bold; }
/* webkit focus outline */
input,
select,
textarea { outline: 0; }
/* Android 下 input focus 消除高亮外框 */
textarea,
input { -webkit-user-modify: read-write-plaintext-only; }
input::-ms-clear,
input::-ms-reveal { display: none; }
/**
 * placeholder text color
 */
input:-ms-input-placeholder,
textarea:-ms-input-placeholder { color: inherit; opacity: 0.54; }
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder { color: inherit; opacity: 0.54; }
/* table
   ========================================================================== */
/* Remove table cell spacing and padding */
table { border-collapse: collapse; border-spacing: 0; }
td,
th { padding: 0; }
h1, h2, h3, h4, h5, h6, p, figure, form, blockquote { margin: 0; }
ul, ol, li, dl, dd { margin: 0; padding: 0; }
ul, ol { list-style: none outside none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; line-height: 2; }
* { box-sizing: border-box; }
/* COLORS */
/* FONT WEIGHTS */
/* FONT STACKS */
/* BASE STYLES */
/* TYPOGRAPHY */
/* THEME */
/* BRANDING */
.em { font-style: italic; }
strong { font-weight: 700; }
h1, h2, h3, h4, h5, h6 {
  color: rgb(42, 43, 43);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 0.5em;
}
h1 {
  font-size: 32px;
}
@media only screen and ( min-width: 48em ) {
 h1 { font-size: 48px; } }
h2 {
  font-size: 26px;
}
@media only screen and ( min-width: 48em ) {
 h2 { font-size: 40px; } }
h3 {
  font-size: 24px;
}
@media only screen and ( min-width: 48em ) {
 h3 { font-size: 31px; } }
h4 {
  font-size: 22px;
}
@media only screen and ( min-width: 48em ) {
 h4 { font-size: 25px; } }
h5 {
  font-size: 20px;
}
@media only screen and ( min-width: 48em ) {
 h5 { font-size: 20px; } }
h6 {
  font-size: 16px;
}
@media only screen and ( min-width: 48em ) {
 h6 { font-size: 16px; } }
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: rgb(230, 230, 230);
  font-weight: 400;
}
h1 small {
  font-size: 28px;
}
@media only screen and ( min-width: 48em ) {
 h1 small { font-size: 42px; } }
h2 small {
  font-size: 22.75px;
}
@media only screen and ( min-width: 48em ) {
 h2 small { font-size: 35px; } }
h3 small {
  font-size: 21px;
}
@media only screen and ( min-width: 48em ) {
 h3 small { font-size: 27.125px; } }
h4 small {
  font-size: 19.25px;
}
@media only screen and ( min-width: 48em ) {
 h4 small { font-size: 21.875px; } }
h5 small {
  font-size: 17.5px;
}
@media only screen and ( min-width: 48em ) {
 h5 small { font-size: 17.5px; } }
h6 small {
  font-size: 14px;
}
@media only screen and ( min-width: 48em ) {
 h6 small { font-size: 14px; } }
p {
  color: inherit;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 1em;
  max-width: auto;
}
.code {
  font-family: "Consolas", "Courier New", mono;
}
ul, .ul {
  list-style-type: disc;
}
body {
  background: #fff;
  background-image: url('../img/lights-801894_960_720.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  color: rgb(73, 73, 73);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  min-width: 320px;
  z-index: 0;
}
.container {
  margin: 0 auto;
  max-width: 1040px;
  padding: 0 20px;
  position: relative;
  overflow: hidden;

  /*grid-column: 12/12;*/
}
footer {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
.nav:after { content: ''; display: block; clear: both; }
.nav {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), color-stop(80%, transparent));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3), transparent 80%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3), transparent 80%);
  color: rgb(230, 230, 230);
  padding: 10px 0;
}
.portal {
  color: #fff;
  float: left;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.portal:hover {
  color: rgb(230, 230, 230);
}
.nav-link {
  float: right;
}
.content {
  min-height: 480px;
  margin: 0 auto;
}
.tagline {
  text-align: center;
}
.tagline h1 {
  color: #fff;
  font-weight: 700;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.login {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 20px;
  text-align: center;

  float: left;

  width: 100%;

  margin-right: 1.92308%;
}
@media only screen and ( min-width: 35.5em ) {
 .login { float: left; width: 49.03846%; margin-right: 1.92308%; margin-left: 25.48077%; margin-right: 25.48077%; } }
.login-links {
  list-style-type: none;
}
.feed {
  background: #fff;
}
.btn {
  background: transparent;
  border: solid 1px transparent;
  border-radius: 10px;
  cursor: pointer;
  display: block;
  margin: 0 auto 20px;
  padding: 10px 20px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.btn-primary {
  background-color: transparent;
  border-color: #999;
  color: #999;
}
.btn-primary:hover {
  background-color: #999;
  color: #fff;
}
.btn-twitter {
  background: #55acee;
  color: #fff;
}
.btn-twitter:hover {
  background: rgb(64, 159, 231);
}
.btn-instagram {
  background: #e1306c;
  color: #fff;
}
input[type='text'] {
  border: solid 1px rgb(204, 204, 204);
  border-radius: 5px;
  font: inherit;
  margin: 10px auto;
  padding: 5px;
  width: 100%;
}