.em { font-style: italic; }
strong { font-weight: $bold-weight; }


h1, h2, h3, h4, h5, h6 {
  color: $header-color;
  font-family: $header-font-family;
  font-style: $header-font-style;
  font-weight: $header-font-weight;
  line-height: $header-line-height;
  margin-bottom: $header-margin-bottom;
}

h1 {
  font-size: map(headerSizes, mobile, h1)px;

  @media mq('medium') {
    font-size: map(headerSizes, regular, h1)px;
  }
}

h2 {
  font-size: map(headerSizes, mobile, h2)px;

  @media mq('medium') {
    font-size: map(headerSizes, regular, h2)px;
  }
}

h3 {
  font-size: map(headerSizes, mobile, h3)px;

  @media mq('medium') {
    font-size: map(headerSizes, regular, h3)px;
  }
}

h4 {
  font-size: map(headerSizes, mobile, h4)px;

  @media mq('medium') {
    font-size: map(headerSizes, regular, h4)px;
  }
}

h5 {
  font-size: map(headerSizes, mobile, h5)px;

  @media mq('medium') {
    font-size: map(headerSizes, regular, h5)px;
  }
}

h6 {
  font-size: map(headerSizes, mobile, h6)px;

  @media mq('medium') {
    font-size: map(headerSizes, regular, h6)px;
  }
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: $lighter-gray;
  font-weight: $normal-weight;
}

h1 small {
  font-size: resolve(map(headerSizes, mobile, h1)px * $small-font-size);

  @media mq('medium') {
    font-size: resolve(map(headerSizes, regular, h1)px * $small-font-size);
  }
}

h2 small {
  font-size: resolve(map(headerSizes, mobile, h2)px * $small-font-size);

  @media mq('medium') {
    font-size: resolve(map(headerSizes, regular, h2)px * $small-font-size);
  }
}

h3 small {
  font-size: resolve(map(headerSizes, mobile, h3)px * $small-font-size);

  @media mq('medium') {
    font-size: resolve(map(headerSizes, regular, h3)px * $small-font-size);
  }
}

h4 small {
  font-size: resolve(map(headerSizes, mobile, h4)px * $small-font-size);

  @media mq('medium') {
    font-size: resolve(map(headerSizes, regular, h4)px * $small-font-size);
  }
}

h5 small {
  font-size: resolve(map(headerSizes, mobile, h5)px * $small-font-size);

  @media mq('medium') {
    font-size: resolve(map(headerSizes, regular, h5)px * $small-font-size);
  }
}

h6 small {
  font-size: resolve(map(headerSizes, mobile, h6)px * $small-font-size);

  @media mq('medium') {
    font-size: resolve(map(headerSizes, regular, h6)px * $small-font-size);
  }
}

p {
  color: $paragraph-color;
  font-weight: $paragraph-font-weight;
  line-height: $paragraph-line-height;
  margin-bottom: $paragraph-margin-bottom;
  max-width: $paragraph-max-width;
}

.code {
  font-family: $mono;
}

ul, .ul {
  list-style-type: disc;
}
