%typography {
  .em { font-style: italic; }
  strong { font-weight: $bold-weight; }

  p {
    color: $paragraph-color;
    font-weight: $paragraph-font-weight;
    line-height: $paragraph-line-height;
    margin-bottom: $paragraph-margin-bottom;
    max-width: $paragraph-max-width;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $header-color;
    font-family: $header-font-family;
    font-style: $header-font-style;
    font-weight: $header-font-weight;
    line-height: $header-line-height;
    margin-bottom: $header-margin-bottom;
  }

  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color: $light-gray;
  }

  .code {
    font-family: $mono;
  }

  ul, .ul {
    list-style-type: disc;
  }

  small {
    @include font-size(0.85);
  }
}


@each $mq, $size-map in $header-sizes {
  @if $mq != mobile {
    @include media($small) {
      @each $header, $size in $size-map {
        #{$header} {
          font-size: $size + px;
          font-size: px-to-rem($size);
        }
      }

      @each $header, $size in $size-map {
        #{$header} small {
          font-size: calc($size * $small-font-size) + px;
          font-size: px-to-rem($size * $small-font-size);
        }
      }
    }
  }
  @else {
    @each $header, $size in $size-map {
      #{$header} {
        font-size: $size + px;
        font-size: px-to-rem($size);
      }
    }

    @each $header, $size in $size-map {
      #{$header} small {
        font-size: calc($size * $small-font-size) + px;
        font-size: px-to-rem($size * $small-font-size);
      }
    }
  }
}