@import '_variables';
@import '_typography';

@reset-global mobile;

body {
  background: $body-bg;
  background-attachment: fixed;
  background-image: url('../img/lights-801894_960_720.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $base-font-color;
  font-family: $base-font-stack;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  min-width: 320px;
  z-index: 0;
}


.container {
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 20px;
  position: relative;
  overflow: hidden;

  /*grid-column: 12/12;*/
}

footer {
  background: $footer-bg;
  color: $footer-color;
  padding: 20px 0;
  text-align: center;
}

.nav {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3), transparent 80%);
  clear: fix;
  color: $lighter-gray;
  padding: 15px 0;
  text-align: center;
}

.portal {
  color: #fff;
  font-weight: $bold-weight;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  transition: all 0.2s ease-out;
}

.portal:hover {
  letter-spacing: 0.1em;
  color: $lighter-gray;
}

.content {
  min-height: 480px;
  margin: 0 auto;
}

.tagline {
  text-align: center;
}

.tagline h1 {
  color: #fff;
  font-weight: $bold-weight;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.login {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 20px;
  text-align: center;

  grid-column: 12/12;

  @media mq('small') {
    grid-column: 6/12;
    grid-push: 3/12;
    grid-pull: 3/12;
  }
}

[ui-view].ng-enter {
  transition: all 0.5s ease-out;
  opacity: 0;
}

[ui-view].ng-enter-active {
  opacity: 1;
}

.login-links {
  list-style-type: none;
}

.feed {
  background: rgba(255, 255, 255, 0.95);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 0 auto;
  max-width: 550px;
}

.feed-post {
  margin: 20px auto;
}

.btn {
  background: transparent;
  border: solid 1px transparent;
  border-radius: 10px;
  cursor: pointer;
  display: block;
  margin: 0 auto 20px;
  padding: 10px 20px;
  transition: all 0.3s ease-out;
}

.btn-primary {
  background-color: transparent;
  border-color: $gray;
  color: $gray;
}

.btn-primary:hover {
  background-color: $gray;
  color: #fff;
}

.btn-twitter {
  background: $twitter-blue;
  color: #fff;
}

.btn-twitter:hover {
  background: color($twitter-blue w(-10%) s(-5%));
}

.btn-instagram {
  background: $instagram-pink;
  color: #fff;
}

input[type='text'] {
  border: solid 1px $light-gray;
  border-radius: 5px;
  font: inherit;
  margin: 10px auto;
  padding: 5px;
  width: 100%;
}

#spinner {
  background: #fff;
  border-radius: 5px;
  opacity: 1;
  padding: 10px;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
}

#spinner.ng-hide {
  opacity: 0;
}

.twitter-tweet {
  display: inline-block;
  padding: 16px;
  margin: 10px 0;
  max-width: 550px;
  background: #fff;
  border: #ddd 1px solid;
  border-top-color: #eee;
  border-bottom-color: #bbb;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  font: bold 14px/18px Helvetica, Arial, sans-serif;
  color: #000;
  width: 100%;
}
 
.twitter-tweet p {
  font: normal 18px/24px;
  margin: 0 5px 10px 0;
}
 
.twitter-tweet a[href^="https://twitter.com"] {
  font-weight: normal;
  color: #666;
  font-size: 12px;
}

.instagram-media {
  background:#FFF;
  border:0;
  border-radius:3px;
  box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15);
  margin: 1px;
  max-width:658px;
  padding:0;
  width:99.375%;
  width:-webkit-calc(100% - 2px);
  width:calc(100% - 2px);
}

.feed-post {
  position: relative;
}

.feed-post.ng-enter {
  transition: all 0.5s ease-out;
  opacity: 0;
  bottom: -10px;
}

.feed-post.ng-enter-active {
  opacity: 1;
  bottom: 0;
}

.green-check {
  margin: 0px 0 -6px 5px;
}



.ng-hide-add, ng.hide-remove {
  transition: all 0.3s ease-out;
}

