<div class="container">

<div class="tagline">
  <h1>One feed. No fluff.</h1>
</div>

<div class="login">  
  <a href="auth/twitter" class="btn btn-twitter">Twitter <img src='./assets/img/green-check.png' ng-show='twitterCheckShow' class='green-check' width='25px' height='25px' /> </a>
  <a href="auth/instagram" class="btn btn-instagram">Instagram <img src='./assets/img/green-check.png' ng-show='instagramCheckShow' class='green-check instagramcheck' width='25px' height='25px' /> </a>
  <form name="search">
    <label for="query">Search a tag:</label>
    <input type="text" id="query" placeholder="Search for a tag..." ng-model="query">
    <button type="submit" ui-sref="feed" ng-click="processSearch(query)" class="btn btn-primary">Fuse Feeds</button>
  </form>
</div>

</div>